<!-- <!doctype html> -->
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-app-status-bar-style" content="white">
    <meta name="format-detection" content="telephone=no">

    <meta name="full-screen" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="renderer" content="webkit"/>

    <link href="https://cdn.bootcdn.net/ajax/libs/weui/2.5.16/style/weui.min.css" rel="stylesheet">

    <style type="text/css">
        .weui-form{
          background: #f0f0f0;
          padding-top: 0px;
        }
        .weui-cells__title{
          padding: 0 16px !important;
          margin-top: 10px !important;
        }
        .weui-cell_active{
          font-size: 14px;
        }
        .weui-cells__group_form{
          margin-top: 0px !important;
        }
        .colorRed{
          color:red;
        }
        .display-inline{
          display: inline;
        }

        .display-block{
          display: block;
        }

        .page-footer{
          position: absolute;
          bottom: 0px;
          width: 100%;
        }

        .next-botton{
          width: 100%;
          border-radius: 5px;
        }

        .weui-btn_primary{
          background: #3A7FDE;
        }

        .weui-cells{
          border-radius: 5px;
        }

        .mleft-5{
          margin-left: 5px;
        }

        .select-right{
          display: inline-block;
          margin-right: 35px;
          color: #cccccc;
        }

        .txtRight{
          text-align: right;
        }

        .mleft12{
          margin-left: 12px;
        }

        .select-right-text{
          width: 50%;
          text-align: right;
          margin-right: 35px;
        }

        .colorCCCCCC{
          color: #cccccc;
        }
        .weui-cells__group_form{
          overflow: scroll;
          height: calc(90vh);
        }


    </style>

  </head>
  <body>

    <div class="page">
        <div class="weui-form">
          <div class="weui-cells__group weui-cells__group_form">
            <div class="weui-cells__title">课程信息确认</div>
            <div class="weui-cells">
              <div class="weui-cell weui-cell_active weui-cell_select" id="courseList">
                <div class="weui-cell__bd">
                  <div class="weui-select"><span class="colorRed">*</span><span class="mleft-5">课程名称</span></div>
                </div>
                <span class="select-right-text" id="txtCourseName"></span>
              </div>
              <label class="weui-cell weui-cell_active">
                <div class="weui-cell__hd">
                  <span class="weui-label mleft12">
                    课程周期
                  </span>
                </div>
                <div class="weui-cell__bd">
                    <span class="txtRight display-block colorCCCCCC" id="txtCourseDay"></span>
                </div>
              </label>
              <div class="weui-cell weui-cell_active weui-cell_select" id="showDatePicker">
                <div class="weui-cell__bd">
                  <div class="weui-select"><span class="colorRed">*</span><span class="mleft-5">开课时间</span></div>
                </div>
                <span class="select-right-text" id="txtDatetime"></span>
              </div>
            </div>
            <div class="weui-cells__title">支付方案</div>
            <div class="weui-cells">
              <label class="weui-cell weui-cell_active">
                <div class="weui-cell__hd">
                  <span class="weui-label">
                    <span class="colorRed">*</span>
                    <span>课程原价</span>
                  </span>
                </div>
                <div class="weui-cell__bd">
                  <span class="txtRight display-block colorCCCCCC" id="txtPrice"></span>
                </div>
              </label>
              <div class="weui-cell weui-cell_active weui-cell_select" id="schemePicker">
                <div class="weui-cell__bd">
                  <div class="weui-select"><span class="colorRed">*</span><span class="mleft-5">方案名称</span></div>
                </div>
                <span class="select-right-text" id="txtSchemeName"></span>
              </div>
              <label class="weui-cell weui-cell_active">
                <div class="weui-cell__hd">
                  <span class="weui-label mleft12">
                    支付计划
                  </span>
                </div>
                <div class="weui-cell__bd">
                  <span class="txtRight display-block">首次应支付<span  id="txtFirstPayPrice"></span>元</span>
                </div>
              </label>
              <label class="weui-cell weui-cell_active">
                <div class="weui-cell__hd">
                  <span class="weui-label display-inline">
                    <span class="colorRed">*</span>
                    <span>首次支付时限</span>
                  </span>
                </div>
                <div class="weui-cell__bd">
                  <span class="txtRight display-block colorCCCCCC" id="txtFirstPayDate"></span>
                </div>
              </label>
              <label class="weui-cell weui-cell_active">
                <div class="weui-cell__hd">
                  <span class="weui-label display-inline mleft12">
                    学费缴纳周期
                  </span>
                </div>
                <div class="weui-cell__bd">
                  <span class="txtRight display-block colorCCCCCC">
                    <span id="txtFirstDate"></span>
                    至
                    <span id="txtLastDate"></span>
                  </span>
                </div>
              </label>
              <label class="weui-cell weui-cell_active">
                <div class="weui-cell__hd">
                  <span class="weui-label display-inline mleft12">
                    第三方服务费(元)
                  </span>
                </div>
                <div class="weui-cell__bd">
                  <span class="txtRight display-block colorCCCCCC" id="txtServerPrice"></span>
                </div>
              </label>
            </div>
            <div class="page-footer">
              <a href="javascript:;" role="button" class="weui-btn weui-btn_primary next-botton" id="submitBtn">提交</a>
            </div>
          </div>
        </div>
    </div>

    <div role="alert" id="warnToast" style="display: none;">
      <div class="weui-mask_transparent"></div>
      <div class="weui-toast">
          <i class="weui-icon-warn weui-icon_toast"></i>
          <p class="weui-toast__content"></p>
      </div>
    </div>

    <div role="alert" id="successToast" style="display: none;">
      <div class="weui-mask_transparent"></div>
      <div class="weui-toast">
          <i class="weui-icon-success-no-circle weui-icon_toast"></i>
          <p class="weui-toast__content success_content"></p>
      </div>
    </div>

    <div class="js_dialog" role="dialog"  aria-hidden="true" aria-modal="true" aria-labelledby="js_title1" id="dlgSubmit" style="display: none;">
      <div class="weui-mask"></div>
      <div class="weui-dialog">
          <div class="weui-dialog__hd"><strong class="weui-dialog__title" id="js_title1">报名确认</strong></div>
          <div class="weui-dialog__bd">是否确认提交？</div>
          <div class="weui-dialog__ft">
              <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_default" id="cancelBtn">取消</a>
              <a role="button" href="javascript:" class="weui-dialog__btn weui-dialog__btn_primary" id="confrimBtn">确定</a>
          </div>
      </div>
    </div>

  </body>

  
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://res.wx.qq.com/t/wx_fed/weui.js/res/1.2.17/weui.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/1.3.2/axios.min.js"></script>

  <script>

    
    var courseList = [];
    var schemeList = [];

    var currentCourse = null;
    var currentScheme = null;

    $(function(){

      loadCourse();

      var $warnToast = $('#warnToast');

      $('#courseList').on('click', function () {
        var tempArry = [];
        for (var i = 0; i < courseList.length; i++) {
          tempArry.push({label:courseList[i].courseName,value:courseList[i].id,duration:courseList[i].duration,price:courseList[i].price});
        }
        console.log(tempArry);
        weui.picker(tempArry, {
            defaultValue:[tempArry[0].value],
            onConfirm: function (result) {
                console.log(result[0]);
                for (let index = 0; index < courseList.length; index++) {
                  if(result[0].value==courseList[index].id){
                    currentCourse = courseList[index];
                    break;
                  }                  
                }
                if(currentCourse)
                  bindCourseElement(currentCourse);
                if(currentScheme)
                  bindSchemeElement(currentScheme);
            },
            id:'courseList',
            title: '课程类别'
        });
      });

      $('#showDatePicker').on('click', function () {
        weui.datePicker({
            start: new Date().getFullYear(),
            end: new Date().getFullYear() + 10,
            onChange: function (result) {
                console.log(result);
            },
            onConfirm: function (result) {
                console.log(result);
                $('#txtDatetime').text(result[0].value+'/'+result[1].value+'/'+result[2].value);
            },
            id:'showDatePicker',
            title: '开课时间'
        });
      });

      $('#schemePicker').on('click',function(){
        var tempArray  = [];

        for (let index = 0; index < schemeList.length; index++) {
          tempArray.push({label:schemeList[index].schemeName,value:schemeList[index].id});
        }
        weui.picker(tempArray, {
            defaultValue:[tempArray[0].value],
            onConfirm: function (result) {
              console.log(result[0]);
              $('#txtSchemeName').text(result[0].label);
              for (let index = 0; index < schemeList.length; index++) {
                if(result[0].value==schemeList[index].id){
                  currentScheme = schemeList[index];
                  break;
                }                
              }
              if(currentScheme)
                bindSchemeElement(currentScheme);
            },
            id:'schemePicker',
            title: '方案类别'
        });
      });

      $('#submitBtn').on('click',function(){



        var sessionSignup = window.sessionStorage.getItem('Signup');
        if(!sessionSignup){
          $('.weui-toast__content').text('信息过期,请重新填写');
          $warnToast.fadeIn(100);
          setTimeout(function () {
              $warnToast.fadeOut(100);
              window.location.href="index.html";
          }, 1000);
          return;
        }

        var signup = JSON.parse(sessionSignup);

        if(!signup.OpenId){
          $('.weui-toast__content').text('未获取到OpenId');
          $warnToast.fadeIn(100);
          setTimeout(function () {
              $warnToast.fadeOut(100);
              window.location.href="index.html";
          }, 1000);
          return;
        }

        if(!currentCourse){
          $('.weui-toast__content').text('请选择课程');
          $warnToast.fadeIn(100);
          setTimeout(function () {
              $warnToast.fadeOut(100);
          }, 1000);
          return;
        }

        var txtBeginClassTime = $('#txtDatetime').text();

        if(!txtBeginClassTime){
          $('.weui-toast__content').text('请选择开课时间');
          $warnToast.fadeIn(100);
          setTimeout(function () {
              $warnToast.fadeOut(100);
          }, 1000);
          return;
        }

        if(!currentScheme){
          $('.weui-toast__content').text('请选择支付方案');
          $warnToast.fadeIn(100);
          setTimeout(function () {
              $warnToast.fadeOut(100);
          }, 1000);
          return;
        }
        $('#dlgSubmit').show();
      });

      $('#cancelBtn').on('click',function(){
        $('#dlgSubmit').hide();
      })
      
      var isLock = false;

      $('#confrimBtn').on('click',function(){


        var sessionSignup = window.sessionStorage.getItem('Signup');

        if(!sessionSignup){
          $('.weui-toast__content').text('信息过期,请重新填写');
          $warnToast.fadeIn(100);
          setTimeout(function () {
              $warnToast.fadeOut(100);
              window.location.href="index.html";
          }, 1000);
          return;
        }

        if(!currentCourse){
          $('.weui-toast__content').text('请选择课程');
          $warnToast.fadeIn(100);
          setTimeout(function () {
              $warnToast.fadeOut(100);
          }, 1000);
          return;
        }

        var txtBeginClassTime = $('#txtDatetime').text();

        if(!txtBeginClassTime){
          $('.weui-toast__content').text('请选择开课时间');
          $warnToast.fadeIn(100);
          setTimeout(function () {
              $warnToast.fadeOut(100);
          }, 1000);
          return;
        }

        if(!currentScheme){
          $('.weui-toast__content').text('请选择支付方案');
          $warnToast.fadeIn(100);
          setTimeout(function () {
              $warnToast.fadeOut(100);
          }, 1000);
          return;
        }

        txtBeginClassTime = txtBeginClassTime.replaceAll('/','-') + " 00:00:00";

        var signup = JSON.parse(sessionSignup);

        var createOrderRequest = {
          CourseId:currentCourse.id,
          SchemeId:currentScheme.id,
          BeginClassTime:txtBeginClassTime,
          Signup:signup
        };

        
        if(isLock){
          return;
        }

        isLock = true;

        axios({
          method: 'post',
          url: 'https://api.ruimaitop.com/Order1/Create?OpenId='+signup.OpenId,
          data:createOrderRequest,
        }).then(function(data){
          console.log(data);
          isLock = false;
          $('#dlgSubmit').hide();
          if(data.data.result){
            $('.success_content').text('提交成功！');
            $('#successToast').fadeIn(100);
            setTimeout(function () {
              $('#successToast').fadeOut(100);
              window.location.href = 'billDetail.html';
            }, 2000);
          }else{
            $('#warnToast .weui-toast__content').text(data.data.message);
            $('#warnToast').fadeIn(100);
            setTimeout(function () {
              $('#warnToast').fadeOut(100);
            }, 1000);
          }
        });
      })
    });

    function bindCourseElement(obj){
      var myDate = new Date(); 
      $('#txtCourseName').text(obj.courseName);
      $('#txtCourseDay').text(obj.duration+'天');
      var mytime=myDate.toLocaleDateString();
      $('#txtDatetime').text(mytime);
      $('#txtPrice').text(obj.price / 100 + '元');
    }


    function bindSchemeElement(obj){
      if(currentCourse){
        var price = currentCourse.price/100;
        var datetime = new Date();
        $('#txtSchemeName').text(obj.schemeName);
        $('#txtFirstPayPrice').text((price/ obj.totalNumber).toFixed(2));
        $('#txtServerPrice').text(((price * obj.serviceRate)/100).toFixed(2));
        var firstTime = datetime.setMonth(datetime.getMonth()+1);
        var tempFirstDate = new Date(firstTime).toLocaleDateString().replaceAll('/','-');
        $('#txtFirstPayDate').text(tempFirstDate);
        $('#txtFirstDate').text(tempFirstDate);
        var lastDate =  datetime.setMonth(datetime.getMonth()+currentScheme.totalNumber);
        var tempLastDate =  new Date(lastDate).toLocaleDateString().replaceAll('/','-');
        $('#txtLastDate').text(tempLastDate);
      }
    }


    function loadCourse(){
        axios({
          method: 'post',
          url: 'https://api.ruimaitop.com/Course/Query',
        }).then(function(data){

          if(data.data.data){
            for (var i = 0; i < data.data.data.length; i++) {
              if(data.data.data[i].isDelete==0){
                courseList.push(data.data.data[i]);
              }
            }
          }
        }).catch(function(data){
          console.log(data);
        }).finally(function(){
          if(courseList.length > 0 ){
            currentCourse = courseList[0];
            bindCourseElement(currentCourse);
          }else{
            $('#txtCourseName').text('请选择');
            $('#txtCourseName').addClass('colorCCCCCC');
          }
          loadScheme();
        });
    }

    function loadScheme(){
      axios({
        method: 'post',
        url: 'https://api.ruimaitop.com/Scheme/Query',
      }).then(function(data){

        if(data.data.data){
          for (var i = 0; i < data.data.data.length; i++) {
            if(data.data.data[i].isDelete==0){
              schemeList.push(data.data.data[i]);
            }
          }
        }
      }).catch(function(data){
        console.log(data);
      }).finally(function(){
        if(schemeList.length > 0){
          currentScheme = schemeList[0];
          bindSchemeElement(currentScheme);
        }else{
          $('#txtSchemeName').text('请选择');
          $('#txtSchemeName').addClass('colorCCCCCC');
        }
      });
    }
  </script>

</html>